<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marko + Hapi Demo</title>
  </head>
  <body>
    <h1>Marko + Hapi Demo</h1>
    <app-people stream="${data.people}"/>
  </body>
</html>
